<section class="hero is-fullheight has-text-centered has-background-white-ter" id="contact">
    <div class="hero-body">
        <div class="container">

            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                Kontakt
            </h3>
            Dr. med. vet. Sabine Sahr
            
            <hr/>
            
            • Tierarztpraxis Quandt und Bracke • 
            <br />
            An den Wurthen 26
            <br />
            17489 Greifswald
            <hr />
        
            <a id="contact-button" href="https://www.tieraerzte-quandtundbracke.de"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-link"></i> tieraerzte-quandtundbracke.de
            </a>

            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i> {{site.email}}
            </a>
            {% endunless %}
            {% unless site.phone == %}
            <a id="contact-button" href="tel:{{site.phone}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-phone"></i> {{site.phone}}
            </a>
            {% endunless %}

            {% unless site.mobile == %}
            <a id="contact-button" href="tel:{{site.phone}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fa fa-mobile"></i> {{site.phone}}
            </a>
            {% endunless %}
            
        </div>
    </div>
</section>