<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-3 has-text-weight-bold" style="padding-top: 2rem;">
        {{site.title}}
      </h1>
      <p class="has-text-white-bis is-marginless">
        {{site.description}}
      </p>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Mehr ...</a>
      </a>
      <a href="{{site.url}}{{site.baseurl}}/blog" class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">... Wissensbank</a>
    </div>
  </div>
</section>